.edit-form__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 430px;
  padding-bottom: 33px;
}

@media screen and (max-width: 599px) {
  .edit-form__container {
    min-width: 282px;
    padding-bottom: 40px;
  }
 }
