.profile__edit-image {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.profile__edit-image:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../../images/profile-edit-button.svg) center / 26px 26px no-repeat rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 599px) {
  .profile__edit-image {
    margin-right: 0;
  }
}

