.header__link {
  margin-top: 7px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  opacity: 1;
}
.header__link:hover {
  opacity: .6;
}
@media screen and (max-width: 599px) {
  .header__link {
    margin: 6px 28px 0 0;
    font-size: 14px;
    line-height: 16.94px;
  }
 }
